<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Books</h1>
    <%= link_to "New book", new_book_path, class: "btn btn-green" %>
  </div>

  <div id="books" class="min-w-full">
    <%= render partial: "books/book", collection: @books %>
  </div>
</div>
